.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid rgba(242, 242, 242, 0.7);
  cursor: pointer; }
  .arrow img {
    margin: auto; }
  .arrow:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: inset 0 0 8px 1px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 0 8px 1px rgba(255, 255, 255, 0.75); }

@media (min-width: 990px) {
  .arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(242, 242, 242, 0.7); } }
